button {
  margin-right: 8px;
  float: right;
}

#closeBtn{
    margin-left: 100px;
}

.my-class .mat-dialog-container{
  height: 700px;
  width: 1000px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
}