<!-- <span><button style="height: 20px" (click)="invokeParentMethod()" class="btn btn-info">
        Invoke Parent
    </button></span> -->

<div class="button-container">
    <button (click)="invokeShowMobileDetailMethod()" mat-button color="primary" aria-label="view icon">
        <mat-icon>visibility</mat-icon>
    </button>
    <button (click)="invokeEditMobileDetailMethod()" mat-button color="primary" aria-label="edit icon">
        <mat-icon>edit</mat-icon>
    </button>
    <button (click)="invokeDeleteMobileDetailMethod()" mat-button color="primary" aria-label="delete icon">
        <mat-icon>delete</mat-icon>
    </button>
</div>