<div>
	<mat-toolbar color="primary">
		<div fxShow="true" fxHide.gt-sm="true">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>

		<a mat-button class="companyName" routerLink="/">
			<span>Online Mobile Store</span>
		</a>
		<span class="nav-spacer"></span>
		<div fxShow="true" fxHide.lt-md="true">
			<a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
			<a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
			<a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
		</div>
		<span class="icon-spacer" flex></span>
		<div>
			<mat-icon style="position: relative; top: 4px;">person</mat-icon>
			Admin
		</div>
		<div fxShow="true" fxHide.lt-md="true">
			<a mat-button routerLink="/login">Logout</a>
		</div>
	</mat-toolbar>
	<mat-sidenav-container fxFlexFill class="sidenav-container">

		<mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
			<!-- <div fxLayout="column"> -->
			<mat-nav-list>
				<a mat-list-item routerLink="/home">Home</a>
				<a mat-list-item routerLink="/products">Products</a>
				<a mat-list-item routerLink="/contact">Contact</a>
				<a mat-list-item routerLink="/login">Logout</a>
				<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
			</mat-nav-list>
			<!-- </div> -->
		</mat-sidenav>
		<mat-sidenav-content fxFlexFill>
			<router-outlet></router-outlet>
			<div class="footer">
				<p style="margin-top: 0; margin-bottom: 0rem;">
					<mat-icon style="position: relative; top: 5px;">copyright</mat-icon> Designed by <a
						style="color: white;" href="" target="_blank" title="Colorlib">Suresh M</a>
				</p>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>



<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	<a style="pointer-events: none; cursor: default;" class="navbar-brand" href="#">Online Mobile Store</a>
	<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/products">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/contact">Contact</a>
		</li>
	</ul>
	<ul class="navbar-nav  ml-auto">
		<li class="nav-item">
			<a class="nav-link" routerLink="/login">Logout</a>

		</li>
	</ul>
</nav>
<router-outlet></router-outlet> -->

<!-- <span class="navbar-text">
      Online Mobile Store
     </span> -->
<!-- routerLinkActive="active" -->