mat-card {
  max-width: 370px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.full-width{
  width: 100%;
}

#loginBtn{
  background-color: #2874f0;
}
.mat-spinner{
  margin-left: 45%;
}
