<legend>Product Grid</legend><br />

<button mat-button (click)="openDialog()">Open dialog</button>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<input type="text" (input)="onQuickFilterChanged()" id="quickFilter" placeholder="quick filter..." />
<ag-grid-angular class="ag-theme-alpine" #agGrid id="myGrid" [pagination]="true" [rowData]="rowData"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" rowSelection="multiple"
    style='height: 400px;width:100%; display: flex; flex-direction: column;' [frameworkComponents]="frameworkComponents"
    [context]="context">
    <!--  [enableFilter]="true" [enableSorting]="true" -->
</ag-grid-angular>

<!-- style="width: 500px; height: 500px;" style="width: 1000px; height: 1000px;" -->