<!-- <p>home works!</p> -->
<div class="main">
    <div class="bg-overlay">
        <div class="container-fluid">
            <h1 style="font-size: 120px;">Mobile Store</h1>
            <p>Order Your Mobile Now</p>
            <a class="btn" href="#" target="_blank">Find Your Next Device</a>
        </div>
    </div>
</div>

<!-- <div class="supporting">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Choose</h2>
                <p>Pic your dream surf board from thousands of models on our online store.</p>
            </div>
            <div class="col-md-4">
                <h2>Design</h2>
                <p>Can't find exactly what you're looking for? No problem! Design your own with our SurfistApp. Download
                    it Now!</p>
            </div>
            <div class="col-md-4">
                <h2>Enjoy</h2>
                <p>You order, We deliver in 3 Days Maximum. Anyway, Anytime, Anywhere.</p>
            </div>
            <div class="clearfix">
            </div>

            <div class="text-center col-sm-4 col-md-4 col-sm-12">
                <a href="https://itunes.apple.com/us/genre/ios/id36?mt=8" target="_blank" class="btn-default btn-lg"><i
                        class="fa fa-mobile fa-2x"></i> <span class="network-name">App Store</span></a>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-sm-12">
                <a href="https://play.google.com/store" target="_blank" class="btn-default btn-lg"><i
                        class="fa fa-android fa-2x"></i> <span class="network-name">Google Play</span></a>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-sm-12">
                <a href="https://www.microsoft.com/en-us/store/apps" target="_blank" class="btn-default btn-lg"><i
                        class="fa fa-windows fa-2x"></i> <span class="network-name">Windows Store</span></a>
            </div>
        </div>
    </div>
</div> -->

<div class="feature">
    <div class="bg-overlay">
        <div class="container frame">
            <h2>Every Mobile is a feeling...</h2>
        </div>
    </div>
</div>

<div class="supporting">
    <div class="container">
        <h2>Premium Membership</h2>
        <p>Order it with never seen discounts</p>
        <a class="btn" href="#">MobiPro Membership</a>
    </div>
</div>

<div class="footer">
    <div class="bg-overlay">
        <div class="container">
            <h2>Stop scrolling. Get your Device.</h2>
            <a class="btn" href="#">Be Awesome</a>
        </div>
    </div>
</div>